@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "yrksi";
  src: url("../fonts/iskry-regular-webfont.woff2") format("woff2"),
    url("../fonts/iskry-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
