{% extends "base.html" %} {% block content %}
<div class="hero" id="home">
  <!-- Hero content -->
  <div class="hero--content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>Interior Design is the art of creating a beautiful balance between functionality and aesthetics and creating harmony between human life and its environment.</h1>
          <div class="swiper__controls">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider main container -->
  <div class="swiper hero--swiper">
    <div class="swiper--overlay"></div>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="images/hero-weave.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="images/castor.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="images/castor-1.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<section class="section-line">
  <div class="line"></div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 t-center">
        <h2>About us</h2>
        <p>Elliott-Harrison specialises in transforming your rooms into a place you can call home. Interior Design is all about creating somewhere that reflects your “soul” and resonates with you as an individual. We believe in “affordable luxury” and will work within your budget and your timeline to create a home that you can be proud of. More importantly, our passion is creating a space you cannot wait to come home to and having fun along the way.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="profile-img">
          <img src="images/jackie.jpg" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="mbt-5">Jackie Elliott-Harrison</h2>
        <h4>FOUNDER</h4>
        <p>Jackie has worked in this industry for over 22 years and prides herself on her exceptional level of service and warm professionalism. Most importantly, she listens to her clients and finds solutions to fit expectations. Jackie has experience in all aspects of the industry, having had her own manufacturing workroom for many years, and having represented Warwick Fabrics as International Brand Manager for several years. Jackie also sold textiles into some of the biggest Textile and Interior Companies in the USA. She also has experience in the lighting industry and production of textiles. As a natural progression, Elliott-Harrison Design came into fruition allowing Jackie to combine her many years of experience and passion for interior design.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-line">
  <div class="line"></div>
</section>

<section id="services">
  <div class="hero__services">
    <div class="hero__services--image">
      <img src="images/castorba.jpg" alt="" />
    </div>
    <div class="hero__services--content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-6">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 offset-md-2 t-right">
        <h3>Design Consultation</h3>
        <h3>Décor and Styling</h3>
        <h3>Space Planning</h3>
      </div>
      <div class="col-12 col-md-4">
        <div class="services-img">
          <img src="images/mandy.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5">
        <div class="services-img">
          <img src="images/couch.jpg" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3>Design Development</h3>
        <h3>Sourcing and Procurement</h3>
        <h3>Restyling the home using existing resources</h3>
      </div>
    </div>
  </div>
</section>

<section class="section-line">
  <div class="line"></div>
</section>

<section id="ourwork">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>Our work</h1>  
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="vid" id="firstVideoTrigger">
          <video id="firstVideo" muted preload="true" playsinline>
            <source src="https://res.cloudinary.com/dwzpczjvp/video/upload/v1665371740/eh/04_neyaks.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="masonry">
            <div class="first">
              <img src="images/castor_bay-3-min-p.jpg" alt="Castor Bay House" />
            </div>
            <div class="second">
              <img src="images/castor_bay-23-min-l.jpg" alt="Castor Bay House" />
            </div>
            <div class="third">
              <img src="images/castor_bay-36-min-l.jpg" alt="Castor Bay House" />
            </div>
            <div class="fourth">
              <img src="images/castor_bay-5-min-p.jpg" alt="Castor Bay House" />
            </div>
            <div class="fifth">
              <img src="images/castor_bay-21-min-p.jpg" alt="Castor Bay House" />
            </div>
            <div class="sixth">
              <img src="images/castor_bay-39-min-l.jpg" alt="Castor Bay House" />
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="vid" id="secondVideoTrigger">
          <video id="secondVideo" muted preload="true" playsinline>
            <source src="https://res.cloudinary.com/dwzpczjvp/video/upload/v1665371738/eh/09_g7dmaz.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="masonry">
            <div class="first">
              <img src="images/castor_bay-49-min-p.jpg" alt="Castor Bay House" />
            </div>
            <div class="second">
              <img src="images/castor_bay-52-min-l.jpg" alt="Castor Bay House" />
            </div>
            <div class="third">
              <img src="images/castor_bay-64-min-l.jpg" alt="Castor Bay House" />
            </div>
            <div class="fourth">
              <img src="images/mandys_house-4-min-p.jpg" alt="Mandy's House" />
            </div>
            <div class="fifth">
              <img src="images/mandys_house-14-min.jpg" alt="Mandy's House" />
            </div>
            <div class="sixth">
              <img src="images/mandys_house-6-2-min-l.jpg" alt="Mandy's House" />
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="vid" id="thirdVideoTrigger">
          <video id="thirdVideo" muted preload="true" playsinline>
            <source src="https://res.cloudinary.com/dwzpczjvp/video/upload/v1665371735/eh/10_jyl4ua.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section-line">
  <div class="line"></div>
</section>

<section id="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <h1>Get in touch</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div>
          <form name="contact" action="/thankyou.html" method="POST" data-netlify="true">
            <label for="name">Name</label>
            <input name="name" id="name" type="text" />

            <label for="email">Email Address</label>
            <input name="email" id="email" type="email" />

            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>

            <p class="hidden">
              <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
              </label>
            </p>

            <input class="submit" type="submit"/>
          </form>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="contact-image">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
