/*------------------*
# Nav
*------------------*/
header {
    position: absolute;
    width: 100%;
    z-index: 3;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    @include media-breakpoint-up(md) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
            a {
                color: #3C3C3C;
                text-transform: uppercase;
                font-family: $base-heading-font-family;
                font-size: 14px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.h-mobile {
    display: block;
    @include media-breakpoint-up(md) {
        display: none;
    }
}

.h-desktop {
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
    }
}